{% extends 'public/layout.html.twig' %}

{% block title %}Gracias!{% endblock %}

{% block body %}
    <div class="colorlib-shop">
        <div class="container">
            {% include 'partials/timeline.html.twig' %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <span class="icon"><i class="icon-shopping-cart"></i></span>
                    <h2>Gracias por comprar con nosotros, vuelve pronto!</h2>
                    <p>
                        <a href="{{ path('inicio') }}"class="btn btn-primary">Productos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}