{% extends 'public/layout.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}
    <div class="colorlib-shop">
        <div class="container">
            <!-- Aqui va el partial -->
            {% include 'partials/timeline.html.twig' %}
            <div class="row">
                <div class="col-md-7">
                    <form method="post" class="colorlib-form" action="/pagarcompra">
                        <h2>Datos del comprador</h2>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="cliNombre">Nombre(s)</label>
                                    <input type="text" name="cliNombre" id="cliNombre" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="cliApat">Primer apellido</label>
                                    <input type="text" name="cliApat" id="cliApat" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cliDir">Dirección</label>
                                    <input type="text" name="cliDir" id="cliDir" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="stateprovince">Estado</label>
                                    <select name="cliEstados" id="stateprovince" class="form-control">
                                        <option value="Aguascalientes">Aguascalientes</option>
                                        <option value="Baja California">Baja California</option>
                                        <option value="Baja California Sur">Baja California Sur</option>
                                        <option value="Campeche">Campeche</option>
                                        <option value="Coahuila">Coahuila de Zaragoza</option>
                                        <option value="Colima">Colima</option>
                                        <option value="Chiapas">Chiapas</option>
                                        <option value="Chihuahua">Chihuahua</option>
                                        <option value="CDMX">CDMX</option>
                                        <option value="Durango">Durango</option>
                                        <option value="Guanajuato">Guanajuato</option>
                                        <option value="Guerrero">Guerrero</option>
                                        <option value="Hidalgo">Hidalgo</option>
                                        <option value="Jalisco">Jalisco</option>
                                        <option value="Mexico">México</option>
                                        <option value="Michoacan">Michoacán de Ocampo</option>
                                        <option value="Morelos">Morelos</option>
                                        <option value="Nayarit">Nayarit</option>
                                        <option value="Nuevo Leon">Nuevo León</option>
                                        <option value="Oaxaca">Oaxaca</option>
                                        <option value="Puebla">Puebla</option>
                                        <option value="Queretaro">Querétaro</option>
                                        <option value="Quintana Roo">Quintana Roo</option>
                                        <option value="San Luis Potosi">San Luis Potosí</option>
                                        <option value="Sinaloa">Sinaloa</option>
                                        <option value="Sonora">Sonora</option>
                                        <option value="Tabasco">Tabasco</option>
                                        <option value="Tamaulipas">Tamaulipas</option>
                                        <option value="Tlaxcala">Tlaxcala</option>
                                        <option value="Veracruz">Veracruz de Ignacio de la Llave</option>
                                        <option value="Yucatan">Yucatán</option>
                                        <option value="Zacatecas">Zacatecas</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="cliCp">Código Postal</label>
                                    <input type="text" name="cliCp" id="cliCp" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="cliEmail">E-mail</label>
                                    <input type="text" name="cliEmail" id="cliEmail" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="cliTel">Teléfono</label>
                                    <input type="text" name="cliTel" id="cliTel" class="form-control" />
                                    {% set total = 0 %}
                                    {% set li = '' %}
                                    {% for key, articulo in articulos %}
                                        {% if key != 'user_sess' %}
                                            {% set total = total + articulo.getPrecio %}
                                            {% set li = li ~ '<li><span>' ~ articulo.getNombre ~ '</span> <span>$' ~ articulo.getPrecio ~ '.00</span></li>' %}
                                        {% endif %}
                                    {% endfor %}
                                    <input type="hidden" value="{{ total }}" name="total" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <p><button type="sumbit" class="btn btn-primary">Pagar</button></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="cart-detail">
                        <h2>Carrito de compras</h2>
                        <ul>
                            <li>
                                <ul>
                                    {# aqui va el li #}
                                    {{ li|raw }}
                                </ul>
                            </li>
                            <li><span>Envío</span> <span>Gratis</span></li>
                            <li><span>Total a pagar</span> <span>${{ total }}.00</span></li>
                        </ul>
                    </div>
                    <div class="cart-detail">
                        <h2>Método de pago</h2>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" checked="">OXXO</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" checked="">he leído y acepto los términos de compra</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}