<div class="row row-pb-md">
    <div class="col-md-10 col-md-offset-1">
        <div class="process-wrap">
            <div class="process text-center active">
                <p><span>01</span></p>
                <h3>Carrito de compras</h3>
            </div>
            <div class="process text-center active">
                <p><span>02</span></p>
                <h3>Información</h3>
            </div>
            <div class="process text-center">
                <p><span>03</span></p>
                <h3>Compra hecha</h3>
            </div>
        </div>
    </div>
</div>