{% extends 'public/layout.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .login-form {
                width: 340px;
        margin: 50px auto;
        }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    </style>
{% endblock %}

{% block body %}

<div class="login-form">
    {% if app.session.flashbag.get('notice') %}
    <div class="alert alert-danger">
        <strong>Error: </strong>Usuario y/o contraseña incorrectos
    </div>
    {% endif %}
    <form action="{{ path('auth') }}" method="post">
        <h2 class="text-center">BIKES MX</h2>       
        <div class="form-group">
            <label for="usaurio">Usuario/Email</label>
            <input type="text" class="form-control" id="usaurio" name="usuario"/>
        </div>
        <div class="form-group">
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" id="pass" name="password"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </div>       
    </form>
</div>
{% endblock %}