{% extends 'public/layout.html.twig' %}

{% block title %}Carrito de compras!{% endblock %}

{% block body %}
    <div class="colorlib-shop">
        <div class="container">
            <!-- Aqui va el partial -->
            {% include 'partials/timeline.html.twig' %}
            <div class="row row-pb-md">
                <div class="col-md-10 col-md-offset-1">
                    <div class="product-name">
                        <div class="one-forth text-center">
                            <span>Detalles del producto</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Precio</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Total</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Eliminar</span>
                        </div>
                    </div>
                    {% set total = 0 %}
                    {% for key, producto in productos %}
                        {% if key != 'user_sess' %}
                            {% set total = total + producto.getPrecio %}
                            <div class="product-cart">
                                <div class="one-forth">
                                    <div class="product-img" style="background-image: url({{ asset(producto.getPathImg) }});">
                                    </div>
                                    <div class="display-tc">
                                        <h3>{{ producto.getNombre }}</h3>
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <span class="price">${{ producto.getPrecio }}</span>
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <span class="price">${{ producto.getPrecio }}</span>
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <a href="/deleteitem/{{ key }}" class="closed"></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="total-wrap">
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-3 col-md-push-1 text-center">
                                <div class="total">
                                    <div class="sub">
                                        <p><span>Subtotal:</span> <span>${{ total }}.00</span></p>
                                        <p><span>Delivery:</span> <span>$00.00</span></p>
                                        <p><span>Discount:</span> <span>$00.00</span></p>
                                    </div>
                                    <div class="grand-total">
                                        <p><span><strong>Total:</strong></span> <span>${{ total }}.00</span></p>
                                        <a href="/datos_cliente" class="btn btn-primary">Siguiente</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}