{% extends 'public/layout.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}
    <div id="colorlib-intro" class="colorlib-intro" style="background-image: url(images/wallpaper-down.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro-desc">
                        <div class="text-salebox">
                            <div class="text-lefts">
                                <div class="sale-box">
                                    <div class="sale-box-top">
                                        <h2 class="number">45</h2>
                                        <span class="sup-1">%</span>
                                        <span class="sup-2">Off</span>
                                    </div>
                                    <h2 class="text-sale">Sale</h2>
                                </div>
                            </div>
                            <div class="text-rights">
                                <h3 class="title">Ven y descubre tus limites!</h3>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p><a href="shop.html" class="btn btn-primary">Shop Now</a> <a href="#" class="btn btn-primary btn-outline">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colorlib-shop">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2><span>Nuestros Productos</span></h2>
                    <p>Todo lo que buscas en un solo lugar, BIKES MX la mejor opción en calidad y precio.</p>
                </div>
            </div>
            <div class="row">
                {% for articulo in articulos %}
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url({{ articulo.getPathImg }});">
                            <p class="tag"><span class="sale">Sale</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart">
                                        <a href="addtocart/{{ articulo.getId }}"><i class="icon-shopping-cart"></i></a>
                                    </span> 
                                    <span><a href="detalle/{{ articulo.getId }}"><i class="icon-eye"></i></a></span> 
                                    <span><a href="#"><i class="icon-heart3"></i></a></span>
                                    <span><a href="add-to-wishlist.html"><i class="icon-bar-chart"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="shop.html">{{ articulo.getNombre }}</a></h3>
                            <p class="price"><span>${{ articulo.getPrecio }}</span> <span class="sale">$500.00</span> </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
